<div class="text-lg">
  Please Select Break and Lunch Time Period
</div>

<form class="flex  gap-2">
  <mat-form-field appearance="fill">
    <mat-label>Select Break Period</mat-label>
    <mat-select [formControl]="breakTimeControl" [compareWith]="compareWith" (selectionChange)="onBreakChange($event)" >
      <mat-option [value]="timerange"  *ngFor="let timerange of getBreakTimes(data)">{{timerange.startTime}}-{{timerange.endTime}}</mat-option>
    </mat-select>
  </mat-form-field>



  <mat-form-field appearance="fill" *ngIf="lunchTimes.length > 0">
    <mat-label>Select Lunch Period</mat-label>
    <mat-select [formControl]="lunchTimeControl" [compareWith]="compareWith" (selectionChange)="onLunchChange($event)" multiple>
      <mat-option [value]="timerange" *ngFor="let timerange of lunchTimes">{{timerange.startTime}}-{{timerange.endTime}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>


<div class="flex justify-between gap-8">
  <button mat-raised-button color="warn" (click)="close()">Close</button>
  <button mat-raised-button color="primary" [disabled]="breakTimeControl.invalid || lunchTimeControl.invalid || invalid" (click)="done()">Done</button>
</div>
