<div class="text-center text-2xl">Select School Details</div>

<section id="section1" class="flex   items-center space-x-6">
  <form class="flex flex-col gap-2">

    <div class="flex space-x-4">
      <div class="flex flex-col">
        <mat-form-field appearance="fill">
          <mat-label>Select Academic Year</mat-label>
          <mat-progress-bar mode="determinate" color="primary" *ngIf="isLoadingYears"></mat-progress-bar>
          <input type="text" placeholder="Select Academic Year" matInput [formControl]="yearControl"
            [matAutocomplete]="autoYear">
          <mat-icon matSuffix>arrow_drop_down</mat-icon>

          <mat-autocomplete autoActiveFirstOption #autoYear="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let year of filteredYears$  | async" [value]="year">
              {{year.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Select Academic Term</mat-label>
          <mat-progress-bar mode="determinate" color="primary" *ngIf="isLoadingTerms"></mat-progress-bar>
          <input type="text" placeholder="Select Academic Term" matInput [formControl]="termControl"
            [matAutocomplete]="autoTerm">
          <mat-icon matSuffix>arrow_drop_down</mat-icon>

          <mat-autocomplete autoActiveFirstOption #autoTerm="matAutocomplete" [displayWith]="displayWithTerm">
            <mat-option *ngFor="let term of filteredTerms$  | async" [value]="term">
              {{term.term}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>School Level</mat-label>
          <mat-select [formControl]="schoolLevelControl">
            <mat-option *ngFor="let schoolLevel of ['Primary' , 'Secondary' , 'Certificate Awarding Institutions']" [value]="schoolLevel">{{schoolLevel}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>


      <div class="flex flex-col">
        <mat-form-field appearance="fill">
          <mat-label>Select Region</mat-label>
          <mat-progress-bar mode="determinate" color="primary" *ngIf="isLoadingRegions"></mat-progress-bar>
          <input type="text" placeholder="Select Region" matInput [formControl]="regionControl"
            [matAutocomplete]="autoRegion">
          <mat-icon matSuffix>arrow_drop_down</mat-icon>

          <mat-autocomplete #autoRegion="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let region of filteredRegions$  | async" [value]="region">
              {{region.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>



        <mat-form-field appearance="fill">
          <mat-label>Select Local Government</mat-label>
          <mat-progress-bar mode="determinate" color="primary"
            *ngIf="isLoadingLocalGovernments"></mat-progress-bar>
          <input type="text" placeholder="Select Local Government" matInput
            [formControl]="localGovernmentControl" [matAutocomplete]="autoLg">
          <mat-icon matSuffix>arrow_drop_down</mat-icon>

          <mat-autocomplete  #autoLg="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let localGovernment of filteredLocalGovernments$  | async"
              [value]="localGovernment">
              {{localGovernment.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select School</mat-label>
          <mat-progress-bar mode="determinate" color="primary" *ngIf="isLoadingSchools"></mat-progress-bar>
          <input type="text" placeholder="Select School" matInput [formControl]="schoolControl"
            [matAutocomplete]="autoSchool">
          <mat-icon matSuffix>arrow_drop_down</mat-icon>

          <mat-autocomplete autoActiveFirstOption #autoSchool="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let school of filteredSchools$  | async" [value]="school">
              {{school.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

  </form>

  <div class="flex flex-col   shadow-lg">
    <div class="flex justify-between">
      <div class="flex flex-col">
        <div><span class="p-2 font-light">Academic Year:</span> <span class="p-1">{{(filteredSchoolDetails.year?.name || 'Select Year') | titlecase}}</span> </div>
        <div><span class="p-2 font-light">Academic Term:</span> <span class="p-1">{{(filteredSchoolDetails.term?.term || 'Select Term') | titlecase}}</span> </div>
        <div><span class="p-2 font-light">School Level :</span> <span class="p-1">{{(filteredSchoolDetails.schoolLevel || 'Select School Level') | titlecase}}</span>
        </div>
      </div>

      <div class="flex flex-col">
        <div><span class="p-2 font-light">Region: </span> <span class="p-1">{{(filteredSchoolDetails.region?.name || 'Select Region') | titlecase}}</span> </div>
        <div><span class="p-2 font-light">LocalGovernment: </span> <span class="p-1">{{(filteredSchoolDetails.localGovernment?.name || 'Select LocalGovernment') | titlecase}}</span></div>
        <div><span class="p-2 font-light">School:</span> <span class="p-1">{{(filteredSchoolDetails.school?.name || 'Select School') | titlecase}}</span></div>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="space-x-8">
        <span class="text-xl p-1">Total Staff: {{(filteredSchoolDetails.staffList.length || 0)}}</span>
        <span (click)="showStaffList()"><mat-icon class="mat-18">visibility</mat-icon></span>

        <span class="text-xl p-1">Total Classes: {{(filteredSchoolDetails.schoolClasses.length || 0)}}</span>
        <span (click)="showSchoolClasses()" (click)="showSchoolClasses()"><mat-icon
            class="mat-18">visibility</mat-icon></span>
      </div>
    </div>
  </div>
</section>
