
<div class="container mx-auto">
  <div class="flex justify-center space-x-4 p-2">
    <a mat-raised-button color="primary" (click)="navigateRoute('New')">New System Timetable</a>
    <a mat-raised-button color="primary" (click)="navigateRoute('Upload')">Upload Timetable</a>
    <a mat-raised-button color="primary" (click)="navigateRoute('View')">View/Edit Timetable</a>
  </div>
</div>


<div class="text-center font-bold text-xl ">
  School TimeTable Prototype Generator
</div>

<router-outlet></router-outlet>
