<div class="text-center font-bold text-2xl p-2">
  School TimeTable Prototype Generator
</div>

<section id="section1" class="flex mt-10 justify-center items-center">
  <div class="flex flex-col w-1/2  shadow-lg">

    <div class="flex justify-between">
      <div><span class="text-xl p-2">School:</span> <span class="text-2xl p-1">{{school.name | titlecase}}</span></div>
      <div><span class="text-xl p-2">Academic Term:</span> <span class="text-2xl p-1">TermIII</span> </div>
    </div>

    <div class="flex justify-between">
      <div><span class="text-xl p-2">Region: </span> <span class="text-2xl p-1">Buganda South</span> </div>
      <div><span class="text-xl p-2">LocalGovernment: </span> <span class="text-2xl p-1">Kira Municipality</span></div>
    </div>

    <div class="flex justify-between">
      <div><span class="text-xl p-2">Total Staff: </span> <span class="text-2xl p-1">{{dbStaffs.length}}</span> </div>
    </div>
  </div>
</section>

<div class="flex justify-center items-center mt-1 space-x-4 p-2">
  <div>
    <input type="file" appTimetableExcelUploader class="w-0" #uploadField (isUploadingEvent)="isUploadingEvent($event)"
      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      (excelDataEvent)="excelData($event)" [formControl]="uploadControl" />


    <button mat-raised-button [disabled]="isUploading" (click)="uploadField.click()" cdkFocusInitial color="primary"
      matTooltip="select file to upload">
      <mat-icon>upload_file</mat-icon>
      Upload Timetable
    </button>
  </div>

  <a mat-raised-button [disabled]="isUploading" href="../assets/Sample Primary School Timetable.xlsx" color="primary"
    [download]="school.name+' Timetable.xlsx'" matTooltip="Supported formats are csv and excel">
    <mat-icon>download</mat-icon>
    Download Timetable Template
  </a>

  <button mat-raised-button color="accent">Save Timetable</button>

</div>



<section class="container mx-auto mt-8 mb-20 shadow-md">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab [label]="timetable.schoolClass.name" *ngFor="let timetable of timeTableExcels">
      <div id="pdfPage">
        <table class="border-separate border-spacing-2 border border-slate-400 w-full">

          <caption class="caption-top text-xl p-2">
            {{timetable.schoolClass.name|titlecase}} TimeTable
          </caption>

          <thead>
            <tr>
              <th class="border border-slate-600 w-36">Time</th>
              <th class="border border-slate-600">Monday</th>
              <th class="border border-slate-600">Tuesday</th>
              <th class="border border-slate-600">Wednesday</th>
              <th class="border border-slate-600">Thursday</th>
              <th class="border border-slate-600">Friday</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of timetable.rows" class="text-center">
              <td class="border border-slate-200 w-36">{{row.TIME}}</td>
              <td class="border border-slate-200">
                <div>
                  <div class="font-medium text-xl">
                    <div *ngIf="(row.MONDAY|valueSplitter:':')[0] as subjectCode ">
                      <span *ngIf="getSubjectByCode(dbSubjects , subjectCode)as subject;else missingSubjectView">
                        {{subject.name|titlecase}}
                      </span>
                    </div>
                  </div>

                  <div class="text-lg text-slate-500">
                    <div *ngIf="(row.MONDAY|valueSplitter:':')[1] as name">
                      <span *ngIf="getStaffByFullName(dbStaffs , name) as staff;else missingStaffView"> {{staff.firstName+' '+staff.lastName}}
                      </span>
                    </div>
                  </div>

                </div>
              </td>

              <td class="border border-slate-200">
                <div>
                  <div class="font-medium text-xl">
                    <div *ngIf="(row.TUESDAY|valueSplitter:':')[0] as subjectCode ">
                      <span *ngIf="getSubjectByCode(dbSubjects , subjectCode)as subject;else missingSubjectView">
                        {{subject.name|titlecase}}
                      </span>
                    </div>
                  </div>

                  <div class="text-lg text-slate-500">
                    <div *ngIf="(row.TUESDAY|valueSplitter:':')[1] as name">
                      <span *ngIf="getStaffByFullName(dbStaffs , name) as staff;else missingStaffView"> {{staff.firstName+' '+staff.lastName}}
                      </span>
                    </div>
                  </div>

                </div>
              </td>

              <td class="border border-slate-200">
                <div>
                  <div class="font-medium text-xl">
                    <div *ngIf="(row.WEDNESDAY|valueSplitter:':')[0] as subjectCode ">
                      <span *ngIf="getSubjectByCode(dbSubjects , subjectCode)as subject;else missingSubjectView">
                        {{subject.name|titlecase}}
                      </span>
                    </div>
                  </div>

                  <div class="text-lg text-slate-500">
                    <div *ngIf="(row.WEDNESDAY|valueSplitter:':')[1] as name">
                      <span *ngIf="getStaffByFullName(dbStaffs , name) as staff;else missingStaffView"> {{staff.firstName+' '+staff.lastName}}
                      </span>
                    </div>
                  </div>

                </div>
              </td>


              <td class="border border-slate-200">
                <div>
                  <div class="font-medium text-xl">
                    <div *ngIf="(row.THURSDAY|valueSplitter:':')[0] as subjectCode ">
                      <span *ngIf="getSubjectByCode(dbSubjects , subjectCode)as subject;else missingSubjectView">
                        {{subject.name|titlecase}}
                      </span>
                    </div>
                  </div>

                  <div class="text-lg text-slate-500">
                    <div *ngIf="(row.THURSDAY|valueSplitter:':')[1] as name">
                      <span *ngIf="getStaffByFullName(dbStaffs , name) as staff;else missingStaffView"> {{staff.firstName+' '+staff.lastName}}
                      </span>
                    </div>
                  </div>

                </div>
              </td>

              <td class="border border-slate-200">
                <div>
                  <div class="font-medium text-xl">
                    <div *ngIf="(row.FRIDAY|valueSplitter:':')[0] as subjectCode ">
                      <span *ngIf="getSubjectByCode(dbSubjects , subjectCode)as subject;else missingSubjectView">
                        {{subject.name|titlecase}}
                      </span>
                    </div>
                  </div>

                  <div class="text-lg text-slate-500">
                    <div *ngIf="(row.FRIDAY|valueSplitter:':')[1] as name">
                      <span *ngIf="getStaffByFullName(dbStaffs , name) as staff;else missingStaffView"> {{staff.firstName+' '+staff.lastName}}
                      </span>
                    </div>
                  </div>

                </div>
              </td>


            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>

    <mat-tab [label]="school.name+ ' Timetables'" *ngIf="timeTableExcels.length>0">
      <div id="pdfPage" class="mb-10" *ngFor="let timetable of timeTableExcels">
        <table class="border-separate border-spacing-2 border border-slate-400 w-full">

          <caption class="caption-top text-xl p-2">
            {{timetable.schoolClass.name|titlecase}} TimeTable
          </caption>

          <thead>
            <tr>
              <th class="border border-slate-600 w-36">Time</th>
              <th class="border border-slate-600">Monday</th>
              <th class="border border-slate-600">Tuesday</th>
              <th class="border border-slate-600">Wednesday</th>
              <th class="border border-slate-600">Thursday</th>
              <th class="border border-slate-600">Friday</th>
            </tr>
          </thead>



          <tbody>
            <tr *ngFor="let row of timetable.rows" class="text-center">
              <td class="border border-slate-200 w-36">{{row.TIME}}</td>
              <td class="border border-slate-200">
                <div>
                  <div class="font-medium text-xl">
                    <div *ngIf="(row.MONDAY|valueSplitter:':')[0] as subjectCode ">
                      <span *ngIf="getSubjectByCode(dbSubjects , subjectCode)as subject;else missingSubjectView">
                        {{subject.name|titlecase}}
                      </span>
                    </div>
                  </div>

                  <div class="text-lg ">
                    <div *ngIf="(row.MONDAY|valueSplitter:':')[1] as name">
                      <span *ngIf="getStaffByFullName(dbStaffs , name) as staff;else missingStaffView"> {{staff.firstName+' '+staff.lastName}}
                      </span>
                    </div>
                  </div>

                </div>
              </td>

              <td class="border border-slate-200">
                <div>
                  <div class="font-medium text-xl">
                    <div *ngIf="(row.TUESDAY|valueSplitter:':')[0] as subjectCode ">
                      <span *ngIf="getSubjectByCode(dbSubjects , subjectCode)as subject;else missingSubjectView">
                        {{subject.name|titlecase}}
                      </span>
                    </div>
                  </div>

                  <div class="text-lg ">
                    <div *ngIf="(row.TUESDAY|valueSplitter:':')[1] as name">
                      <span *ngIf="getStaffByFullName(dbStaffs , name) as staff;else missingStaffView"> {{staff.firstName+' '+staff.lastName}}
                      </span>
                    </div>
                  </div>

                </div>
              </td>

              <td class="border border-slate-200">
                <div>
                  <div class="font-medium text-xl">
                    <div *ngIf="(row.WEDNESDAY|valueSplitter:':')[0] as subjectCode ">
                      <span *ngIf="getSubjectByCode(dbSubjects , subjectCode)as subject;else missingSubjectView">
                        {{subject.name|titlecase}}
                      </span>
                    </div>
                  </div>

                  <div class="text-lg ">
                    <div *ngIf="(row.WEDNESDAY|valueSplitter:':')[1] as name">
                      <span *ngIf="getStaffByFullName(dbStaffs , name) as staff;else missingStaffView"> {{staff.firstName+' '+staff.lastName}}
                      </span>
                    </div>
                  </div>

                </div>
              </td>


              <td class="border border-slate-200">
                <div>
                  <div class="font-medium text-xl">
                    <div *ngIf="(row.THURSDAY|valueSplitter:':')[0] as subjectCode ">
                      <span *ngIf="getSubjectByCode(dbSubjects , subjectCode)as subject;else missingSubjectView">
                        {{subject.name|titlecase}}
                      </span>
                    </div>
                  </div>

                  <div class="text-lg ">
                    <div *ngIf="(row.THURSDAY|valueSplitter:':')[1] as name">
                      <span *ngIf="getStaffByFullName(dbStaffs , name) as staff;else missingStaffView"> {{staff.firstName+' '+staff.lastName}}
                      </span>
                    </div>
                  </div>

                </div>
              </td>

              <td class="border border-slate-200">
                <div>
                  <div class="font-medium text-xl">
                    <div *ngIf="(row.FRIDAY|valueSplitter:':')[0] as subjectCode ">
                      <span *ngIf="getSubjectByCode(dbSubjects , subjectCode)as subject;else missingSubjectView">
                        {{subject.name|titlecase}}
                      </span>
                    </div>
                  </div>

                  <div class="text-lg ">
                    <div *ngIf="(row.FRIDAY|valueSplitter:':')[1] as name">
                      <span *ngIf="getStaffByFullName(dbStaffs , name) as staff;else missingStaffView"> {{staff.firstName+' '+staff.lastName}}
                      </span>
                    </div>
                  </div>

                </div>
              </td>


            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>


<!--display if no staff names matches-->
<ng-template #missingStaffView>
  <span class="text-red-500 p-2">*-*</span>
</ng-template>

<ng-template #missingSubjectView>
  <span class="text-yellow-600 p-2">[-]</span>
</ng-template>
