

<div class="flex justify-between mt-2">
  <mat-form-field class="w-1/4">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)"  #input>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <button mat-icon-button (click)="add()" matTooltip="Add new Public Holiday" >
    <mat-icon>add</mat-icon>
  </button>

</div>

<section class="table-container mat-elevation-z8" tabindex="0">
  <div class="my-2" *ngIf="loading()">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <table mat-table [dataSource]="dataSource" matSort recycleRows
  cdkDropList
       cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop($event)">
    <!-- index Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header sortActionDescription="Sort by position"> No. </th>
      <td mat-cell *matCellDef="let index=index"> {{index+1}} </td>
    </ng-container>

    <!-- firstName Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
      <td mat-cell *matCellDef="let data"> {{data.name}}</td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastName"> Date </th>
      <td mat-cell *matCellDef="let data"> {{data.date|date:'EEEE, MMMM d, y'}} </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description"> Description </th>
      <td mat-cell *matCellDef="let data"> {{data.description}} </td>
    </ng-container>




         <!-- action Column -->
         <ng-container matColumnDef="action">
          <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header sortActionDescription="Sort by action"> Action </th>
          <td mat-cell *matCellDef="let data" class="flex p-2 gap-4">
            <button mat-icon-button color="primary" (click)="edit(data)" [disabled]="loading()" matTooltip="edit">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="edit(data)" [disabled]="loading()" matTooltip="delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 100, 150,holidays.length]"
                 showFirstLastButtons
                 aria-label="Select page of holidays">
  </mat-paginator>
</section>
