<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div>Timetable</div>
        </mat-expansion-panel-header>

        <mat-list>
          <a mat-list-item [routerLink]="['/Management/ViewTimetable']" routerLinkActive="router-link-active">View Timetable</a>
          <a mat-list-item [routerLink]="['/Management/NewTimetable']" routerLinkActive="router-link-active"   >New Timetable</a>
          <a mat-list-item [routerLink]="['/Management/UploadTimetable']" routerLinkActive="router-link-active">Upload Timetable</a>
         </mat-list>

      </mat-expansion-panel>



      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <div>Calendar</div>
        </mat-expansion-panel-header>

        <mat-list>
          <a mat-list-item [routerLink]="['/Management/NewCalendar']" routerLinkActive="router-link-active">New</a>
          <a mat-list-item [routerLink]="['/Management/ViewCalendar']" routerLinkActive="router-link-active">View</a>
         </mat-list>

      </mat-expansion-panel>
    </mat-accordion>


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>shool-timetable-generator-prototype</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
